<div id="cookieBanner" class="cookie-banner" *ngIf="!agreed">
  <p id="textBanner">
    Для улучшения работы сайта и удобства пользователей мы используем cookie
    (небольшие текстовые файлы).<br />Продолжая работу с сайтом, Вы разрешаете
    их использование. Вы всегда можете отключить файлы-cookie в настройках
    своего браузера. Пожалуйста, ознакомьтесь с
    <a
      href="assets/cookie-documents/Политика%20по%20использованию%20cookies%20(01.03.24).pdf"
      download="Политика использования cookie"
      target="_blank"
      >политикой использования файлов cookie.</a
    >
    <br />Мы серьезно относимся к защите персональных данных – читайте подробнее
    о наших
    <a
      href="assets/cookie-documents/Политика%20конфиденциальности%20(01.03.24).pdf"
      download="Политика конфиденциальности"
      target="_blank"
      >подходах к их обработке.</a
    >
  </p>
  <button id="agreeBtn" class="agreeBtn" (click)="agree()">
    Подтверждаю ознакомление и согласие
  </button>
</div>
