<app-change-language (languageChanged)="onLanguageChanged($event)"></app-change-language>

<div class="main-container">
  <div class="content-container">
    <app-cookie-banner></app-cookie-banner>
    <nav class="sidenav" >
      <app-change-language></app-change-language>
      <section class="sidenav-content" >
        <a href="/home" class="nav-link">
          {{ homePageText }}
        </a>
        <a href="/tarrifs" class="nav-link">
          {{ tarrifsPageText }} 
        </a>
        <a href="/pricing" class="nav-link">
          {{ pricingPageText }}
        </a>
        <a href="/incomes-outcomes" class="nav-link">
          {{ incomesoutcomesPageText }} 
        </a>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

