<style>
    h1 {        
    font-size: 36px;        
    font-weight: bold;        
    text-align: center;        
    margin-bottom: 20px;    
    }        
    a {        
    font-size: 18px;        
    line-height: 1.5;        
    color: #333;        
    text-decoration: none;        
    display: block;        
    margin-bottom: 10px;    
    }         
    a ol {        
    margin-left: 20px;       
    margin-bottom: 10px;    
    }        
    a ol li {        
    margin-bottom: 5px;    
    }
</style>

<!-- <img src="home.jpg"></img> -->
<h1>Экономическая модель "Чрескожные коронарные вмешательства с применением ротационной атерэктомии"</h1>

<a>Инструмент для анализа возможности закупки медицинских изделий для проведения ротационной атерэктомии во время чрескожных коронарных вмешательств в условиях текущего финансирования.</a>
<a></a>
<a style="justify-content: space-evenly;">
    Все использованные данные по размеру коэффициентов, базовых ставок и формул представлены в соответствии с:
    <ol>
        <a href="https://docs.cntd.ru/document/1300493218?ysclid=liel63plhz371586342" target="_blank" >1. постановлением Правительства РФ от 29.12.2022 № 2497 "О Программе государственных гарантий бесплатного оказания гражданам медицинской помощи на 2023 год и плановый период 2024 и 2025 годов",</a>
        <a href="https://docs.cntd.ru/document/1300734289?ysclid=lid508rb6i735991175" target="_blank">2. письмом Минздрава России от 26.01.2023 N 31-2/И/2-1075 "О методических рекомендациях по способам оплаты медицинской помощи за счет средств обязательного медицинского страхования" (вместе с "Методическими рекомендациями по способам оплаты медицинской помощи за счет средств обязательного медицинского страхования", утв. Минздравом России N 31-2/И/2-1075, ФФОМС N 00-10-26-2-06/749 26.01.2023),</a>
        <a>3. тарифными соглашениями в сфере обязательного медицинского страхования субъектов России на 2023 год по состоянию на февраль 2023 г.</a>

    </ol>

    После принятия Программы государственных гарантий, методических рекомендаций, тарифных соглашений на 2024 год возможны изменения в используемых данных.
</a>